# Ignore build dependencies
services/ui-news/node_modules/
services/ui-portal/node_modules/
services/api/node_modules/
services/rss-mcp/node_modules/

# Ignore UI build artifacts
services/ui-news/dist/
services/ui-news/.angular/
services/ui-news/.cache/
services/ui-news/certs/
services/ui-portal/dist/
services/ui-portal/.angular/
services/ui-portal/.cache/
services/ui-portal/certs/
infra/keycloak/certs/

# OS/editor files
.DS_Store
.vscode/
.idea/
Thumbs.db

# Logs and env files
*.log
.env*

